/* Importation du fichier reset.css */
@import url(reset.css);
/* Importation des polices */
@import url("https://fonts.google.com/specimen/Share+Tech+Mono?query=tech");
@import url("https://fonts.google.com/specimen/Expletus+Sans?query=design");

:root {
  /*couleur*/
  --cor-fundo: #f0f0f0;
  --cor-texto: #333333;
  --cor-interativa: #0099ff;
  --cor-destaque: #ff9900;
}

/* Stylesg */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: var(--cor-texto);
  background-color: var(--cor-fundo);
}

h1 {
  font-family: Georgia, serif;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 20px;
}

h2 {
  font-family: Georgia, serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 15px;
}

h3 {
  font-family: Georgia, serif;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 10px; 
  color: #666666;
}

p, li {
  line-height: 2;
}

a {
  text-decoration: none;
  color: var(--cor-interativa);
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: darken(var(--cor-interativa), 10%);
}

img {
  max-width: 100%;
}

blockquote {
  font-style: italic;
  border-left: 4px solid var(--cor-interativa);
  padding-left: 20px;
  margin: 20px 0;
}

/* Styles l'en-tête */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f0f0f0; 
  border-bottom: 4px solid var(--cor-destaque); 
}

.logo {
  display: flex;
}

.logo a {
  display: block;
  margin-right: 10px;
}

.logo a:last-child {
  margin-right: 0;
}

.logo img {
  width: 40px;
  height: 40px;
}

.photo {
  width: 100px;
  height: 100px;
}

.photo img {
  border-radius: 50%;
}

.menu nav ul {
  display: flex;
  list-style-type: none;
}

.menu nav ul li {
  margin-right: 10px; 
  display: inline-block;
}

.menu nav ul li a {
  display: block;
  padding: 10px;
  color: var(--cor-texto); 
  border-bottom: 2px solid transparent; 
  text-decoration: underline;
}

.menu nav ul li a:hover {
  background-color: var(--cor-interativa);
  border-bottom-color: var(--cor-interativa); 
}

.menu nav ul li a:focus {
  transform: scale(1.1);
}

/* Style contenu */
.content {
  max-width: 800px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.content article {
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.content article p,
.content article ul,
.content article blockquote {
  margin-top: 20px;
}

/* Couleurs différentes para sections e artigos (lembrar de colovar elas em roots e chamar por nome)*/
#about {
  background-color: #f9f9f9;
}

#experience {
  background-color: #eaeaea;
}

#skills {
  background-color: #f5f5f5;
}

/* Espacement entre les articles/sections */
section,
article {
  margin-bottom: 40px;
}

footer {
  background-color: #b9b5b5; 
  color: var(--cor-texto);
  text-align: center;
  padding: 10px;
}

#contact {
  background-color: var(--cor-destaque); 
  text-align: justify; 
  padding: 20px;
  color: white;
}

#contact a {
  text-decoration: underline;
  color: white;
}


