/* Importation du fichier reset.css */
@import url(reset.css);
/* Importation des polices */
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@1,600&family=Share+Tech+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@700&display=swap');

/* font-family: 'Expletus Sans', cursive;
font-family: 'Share Tech Mono', monospace;
font-family: 'Atkinson Hyperlegible', sans-serif; */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #0e0e0e;
  background-color: #edf3ff;
}

h1 {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 20px;
}

h2 {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 15px;
}

h3 {
  font-family: 'Expletus Sans', cursive;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #282828;
}

p,
li {
  line-height: 1.56;
}

a {
  text-decoration: none;
  color: #0083db;
}

a:hover {
  text-decoration: underline;
}

a:active {
  filter: brightness(0.8);
}

img {
  max-width: 100%;
}

blockquote {
  font-family: 'Share Tech Mono', monospace;
  border-left: 8px solid #0083db;
  padding-left: 20px;
  margin: 20px 0;
  font-size: 18px;
  font-weight: bold;
}

/* Styles header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff9f9;
  border-bottom: 4px solid #ff9900;
}

.logo {
  display: flex;
}

.logo a {
  display: block;
  margin-right: 15px;
}

.logo img {
  width: 40px;
  height: 40px;
}

.photo {
  width: 100px;
  height: 100px;
}

.photo img {
  border-radius: 50%;
}

/* style du contenu*/
.content {
  max-width: 800px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.content article {
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content article p,
.content article ul,
.content article blockquote {
  margin-top: 20px;
}

/*seções/artigos/divs/logos/foot */
#apropos {
  background-color: #fbfbfb;
}

#experience {
  background-color: #f5f5f5;
}

#competence {
  background-color: #ffffff;
}

#contact {
  background-color: #ff9900;
  padding: 20px;
  color: #000000;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

#contact a {
  text-decoration: underline;
  color: #000000;
}

#logo2 {
  display: flex;
}

#logo2 a {
  display: block;
  margin-right: 15px;
}

#logo2 img {
  width: 40px;
  height: 40px;
}

footer {
  background-color: #cdcdcd;
  color: #0e0e0e;
  text-align: center;
  padding: 5px;
  font-size: 14px;
}





